.settings-box {
  position: absolute;
  right: 10px;
  top: 15px;
}
.custom-header-card {
  background-color: #455096 !important;
}
.email-show {
  color: #fff !important;
}
.email-main {
  color: black !important;
}
.header-title {
  color: black; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.header-title:visited {
  color: black;
}
.header-title:hover {
  color: black;
}
